 
*{
    margin:0;
    padding:0;
    scroll-behavior: smooth;
}
body{
    background-color: #7FC7D9;
    color: #fff;
}

 
.header{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url("images/grouppic1.jpg");
    background-position: top;
    background-size: cover;
    position: relative;
    /* display: flex; */
}
.header a:hover{
    color: green;
    transition: .5s;
}
 
 
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2% 6%;
}
 
nav img{
    width:200px;
 
}
 
.link{
    flex:1;
    text-align: right;
    display: inline-block;
    padding-top:15px;
}
.link ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    padding: 10px 12px;
}
 
 
.link ul li a{
    color:white;
    text-decoration: none;
    font-size: 24px;
    
}
 
.link ul li::after{
    content:'';
    width:0%;
    height:2px;
    background: red;
    display:block;
    margin: auto;
    transition: 0.2s;
}
 
.link ul li:hover::after{
width:100%;
}
 
.textbox{
width:80%;
 
position: absolute;
color: white;
top:50%;
left:50%;
transform: translate(-50%,-50%);
text-align:center;
}
 
.textbox h1{
    font-size: 70px;
}
.textbox p{
    font-size:20px;
}
/* feature */
.row{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}
.col{
    flex-basis: 31%;
    margin: 5%;
    text-align: center;
    background-color: #1f242d;
    border: solid #0ef 2px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 2%;
}
h2{
    text-align: center;
    padding-top: 3%;
 
}
p{
    text-align: center;
    font-size:18px;
}
.col:hover{
    cursor: pointer;
    transition: 0.5s;
    box-shadow: 0 0 20px #0ef ;
  
}
@media(max-width:900px){
 
    .row{
        flex-direction: column;
    }
 
}
 
 
/* branch section */
 
.branch{
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
}
 
.branch-col{
    margin: 10px;
    
    position: relative;
    overflow: hidden;
    margin-top: 5%;
    display: block;
    float: left;
}
 

.hide{
    display: none;
}
 
#searchInput {
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
  }

 
.branch-col img{
    height: 400px;
    width: 200px;
    border-radius:10px;
    position: relative;
    
}

 
 
.cityname{
    color: aliceblue;
    top: 0;
    left: 0;
    height: 400px;
    width: 210px;
    position: absolute;
    border-radius: 10px;
 
}
 
.cityname:hover h2{
    background-color: #0ef;
    top: 0;
    left: 0;
    height: 400px;
    width: 209.5px;
    color: #1f242d;
    position: absolute;
    transform: translateY(87%);
    transition: 0.5s;
 
}
 

 
 
.feedback{
    width: 90%;
    margin:auto;
 
    
}
 
.feed-col{
    display: flex;
    background: #DCF2F1;
    color: black;
    flex-basis: 30%;
    border-radius: 30px;
    margin-bottom: 7%;
    margin-top: 5%;
}
 
 
.feed-col img{
 
    height:50px;
    width:50px;
    border-radius: 50%;
    padding: 10px;
 
}
.feedname{
    padding:10px;
}
 
.feedname p{
    text-align: left;
    font-size: 15px;
}
.aboutus{
    width: 90%;
    min-height: 30vh;
 
    margin:auto;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    
}
 
.aboutus h1{
 
    font-size: 35px;
}
 
@media(max-width:900px){
    .aboutus h1{
 
        font-size: 20px;
    }
    
}
 

 
.footer{
    text-align: center;
    padding-top: 7px;
    background: rgba( 96, 94, 94, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
 
 
 
}
 
.lastline{
    display: flex;
    width:90%;
    margin:auto;
    padding-bottom: 7px;
}
 
.privacy{
    flex:1;
    display: inline-block;
    text-align: right;
    
}
.logo{
    left: 0;
    top: 0;
    width: 100%;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    cursor: default;
    position: fixed;
    background-color: #1f242d;
    padding: 20px;
    display: flex;
    z-index: 100;
    flex-wrap:wrap;
    
} 
.category-filter{
    text-align: center;
    margin-bottom:10px;
}
.category-filter button{
padding: 8px 16px;
margin: 5px;
border-radius: 4px;
cursor: pointer;
background-color: #fff;
color: #1f242d;
}
.category-filter button:hover{
box-shadow: 0 0 25px black ;
color: #fffF;
border: solid #0ef 2px;
transition: 0.5s;
background-color: #5FBDFF;
}
.searchInput{
    padding: 8px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
}
.link1{
    text-decoration: none;
    color: white;
}
 
/*Contact page*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;   
    background-color: #1f242d;
    color: #fff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 20%;
    letter-spacing: 5px;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .container {
    border-radius: 2px;
 
    padding: 5px;
    color: black;
    font-size: 20px;
    font-weight: 800;
  }
  .contact{
    width: 60%;
    float: left;
  }